@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-ubuntu-sans: "Ubuntu Sans", sans-serif;
  --font-ubuntu-mono: "Ubuntu Mono", monospace;
  --font-atkison: "Atkinson Hyperlegible", sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-ubuntu: var(--font-ubuntu-sans);
  --font-ubuntu-mono: var(--font-ubuntu-mono);
  --font-atkison: var(--font-atkison);
  --color-primary: #321e15;
  --color-secondary: #f4faff;
  --color-accent: #f9dc5c;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #f4faff;
    --foreground: #0a0a0a;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.heading-topic {
  @apply font-bold text-3xl pb-1 border-b-2 border-primary;
}

.read-width {
  @apply max-w-[80ch];
}
